.card {
	width: 100%;
}

.dividerSplit {
	height: 110px;
}

.cardTitle {
	font-weight: 700;
	font-size: 16px;
}

.todoItemWrapper {
	/* border-right: 1px solid rgba(215, 215, 215, 1); */
	position: relative;
}

.todoItemWrapper::after {
	content: "";
	background: rgba(215, 215, 215, 1);
	position: absolute;
	top: 15%;
	right: 0;
	height: 80%;
	width: 1px;
}
